.section {
  padding: 30px 0;

  position: relative;
  background-color: #ffffff;
}
.section-gray {
  background-color: #eeeeee;
}
.section-white {
  background-color: #ffffff;
}
.section-blue {
  border: dashed;
  background-color: blueviolet;
}
